[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
sqlalchemy = "*"
pydantic = "<2"
pdfplumber = "*"
google-generativeai = "*"
ipython = "*"
customtkinter = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
